.container {
  margin: 3% 0;
  background-color: white;
  height: max-content;
  display: flex;
  justify-content: center;
}

.content {
  width: 90%;
  margin: 10% auto;
}

.content > p {
  margin: 30px 0;
  font-size: larger;
}

.content > a {
  display: flex;
  justify-content: center;
  width: 32%;
  margin-right: auto;
  margin-left: auto;
  font-size: 13px;
  cursor: pointer;
  background-color: transparent;
  padding: 8px;
  border: 1px solid orange;
  border-radius: 5px;
}

.content > a:hover {
  background-color: orange;
  color: white;
}
